:root {
    --button-bckg-color: #565656;
    --button-variant-bckg-color: #e41050;
}

.buttonContainerPrimary,
.buttonContainerSecondary {
    background: var(--button-bckg-color);
    border-radius: 22px;
    position: relative;

    color: var(--primary-color);
    padding: 2px 12px;
    min-width: 120px;
    width: 100%;
}

.buttonContainerSecondary {
    min-width: 167px;
    height: 33px;

    background: var(--button-variant-bckg-color);
}

.buttonContainerSecondary::after {
    content: "";
    position: absolute;
    border: 1px solid var(--button-variant-bckg-color);
    top: -5px;
    left: -6px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 22px;
}
